<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
</head>
<h1 class="title">__TAG_TITLE__</h1>
<p class="description">__TAG_DESCRIPTION__</p>


<!-- WORD LIST TABLE -->
<!-- <table style="width: 100%; border-collapse: collapse; height: 144px;" border="0"> -->

<table class="table-word_list_container">
    <tbody>
__TAG_TBODY_WORDS__
    </tbody>
</table>


<!-- WAYS ALLOWED -->

<table class="table-ways_allowed">
    <tbody>
        <tr>
            <td>
                <p>__TAG_WAYS_ALLOWED_TEXT__</p>
            </td>
            <td>
                <div class="images-container">
                    __TAG_WAYS_ALLOWED_IMGS__
                </div>
            </td>
        </tr>
    </tbody>
</table>

<!-- SOUP OUTER FRAME -->

<table class="table-soup_outer_frame">
    <tbody>
    <tr>
        <td>

            <!-- SOUP TABLE -->
            <table class="table-soup">
                <tbody>
__TAG_TBODY_SOUP__
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div class="page_idx">
__TAG_PAGE_IDX__
</div>
